<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>Finnish Population Model</title>
</head>
<body>
  <div class = "container mt-4">
    <h1 class="mt-4"> Finnish Population Model </h1>
    <div>
      Predict the Finnish population by giving a year between 2010 and 2030.
    </div><br>
    <%- body %>
  </div>
</body>
</html>
