<p>Predict the Finnish population in 2010-2030.</p>

<form class="mb-4" action="/visitor" method="post">
  <div class="form-group">
      <label for="year">Year</label>
      <input type="number" class="form-control" name="year" min=2010 max=2030>
  </div><br>
  <input type="submit" value="Predict" class="btn btn-primary btn-block">
</form>

<h3>Predictions</h3>
<ul class="list-group">
<% allPredictions.forEach(function (data) { %>
    <li class="list-group-item">
      <h6>Estimated population: <%=data.pred%></h6>
      <a>Year: <%=data.year%></a><br>
      <a>Date: <%=data.date%></a><br>
      <a href="/edit/<%=data._id%>">Edit</a>
    </li>
<% }) %>
</ul>
